.container {
  height: 500px;
  width: 800px;
  display: flex;
  gap: 5px;
  border: 2px solid black;
  background-color: rgb(251, 247, 227);
  position: relative;
  flex-wrap: wrap;
}
div img {
  height: 150px;
  width: 300px;
  object-fit: cover;
  position: absolute;
}

@media (max-width: 900px) {
  div img {
    bottom: 0;
  }
}
@media (min-width: 600px) {
  div h1,
  p {
    bottom: 0;
  }
  .container {
    height: 500px;
    width: 500px;
  }
}
